:root {
   --main-orange: #FFA02A;
   /* --main-brown: #FFA02A; */
}

*{
    font-family : Montserrat;
}

h3{
    font-family: DaysOne;
    font-size: 36px;
}

.main-orange{
    color: var(--main-orange);
}


.nav-top{
    height: 118px;
}

.logo-wrapp{
    font-weight: 600 !important;
}

.link-wrapp{
    font-size: 18px !important;
}


.logo-wrapp .logo{
    width: 99px;
    height:42px;
    font-family : Inter !important;
    font-size: 35px;
    line-height: 42px;
}

.page-1-bg{
    /* фото главное + туман*/
    background: linear-gradient(100.85deg, #FFFFFF 17.44%, rgba(255, 255, 255, 0) 83.99%),
                url('../img/foto-glavnoe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.page-1-h1{
    font-family: DaysOne !important;
    font-size: 42px;
    font-weight: 400 !important;
}

.page-1-h1 span{
    color: var(--main-orange) !important;
    font-weight: bold !important;
}

.page-1-h2{
    font-size: 35px;
    font-weight: 600;
}

.yellow-button{
    width: 386px;
    height: 84px;
    padding: 28px;
    border-radius: 6px;
    background: linear-gradient(83.62deg, #FFB75E -4.52%, #FFB75E 15.25%, #FFC884 45.62%, #FFB75E 80.23%, #FFB75E 100.5%);
    box-shadow: 0px 4px 0px 0px #E29A41, 0px 0px 16px 14px #FFB75E47;
    color: white;
    border: none;

    font-size: 23px;
    font-weight: 600;
}

.gray-button{
    width: 386px;
    height: 84px;
    padding: 28px;
    border-radius: 6px;
    background: linear-gradient(267.3deg, #595959 2%, #797979 50.78%, #595959 92.93%);
    color: white;
    border: none;
    
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;

}

.tel-feedback-form{
    width: 940px;
    height: 297px;
    padding-top: 68px;
    padding-bottom: 68px;
    padding-left: 40px;
    border-radius: 6px;
    background: #FFFFFF36;
    border: 1px solid;
    border-left: 8px solid;
    border-color: var(--main-orange); 
}

.tel-feedback-form p{
    font-size: 32px;
    font-weight: 500;
}

.tel-feedback-form input[type='text']{
    width: 365px;
    height: 84px;
    border-radius: 6px;
    border: 1px solid;
    font-size: 18px;
}

/* БЛОК 2 */
.page-2-bg{
    background: url('../img/fon2block.jpg');
    background-size: contain;
    background-repeat: repeat-y;
    /* background-position: 0 0; */
}
.page-2-info, .page3-info{
    font-size: 25px;
    font-weight: 500;
    padding: 46px 30px;
    border-left: 4px solid rgb(89,89,89);
    border-top: 1px solid var(--main-orange);
    border-right: 1px solid var(--main-orange);
    border-bottom: 1px solid var(--main-orange);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}

.page-2-bottom{
    background: url('../img/fon2block-bottom.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

.page-2-h3{
    font-size:23px !important;
    /* padding-top: 30%; */
}

.big-digit{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    color: var(--main-orange);
}

.inf-span{
    font-size: 18px;
}

.inf-p{
    margin-top: 12px;
    font-weight: 600;
    border-left: 2px solid var(--main-orange);
    width: 25%;
}


.inf-p-e{
    border-right: 2px solid var(--main-orange);
}

.ribbon-p{
    font-family: DaysOne;
    font-size: 22px;
    font-weight: 400;
    color: white;
}

/* БЛОК 3 */
h4{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
}

.bottom-decorator{
    border-bottom: 3px solid var(--main-orange);
}
.orange-span span
{
    color: var(--main-orange) !important; 
}

.p-3-inf{
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
}

.left-decorator{
    border-left: 2px solid var(--main-orange);
}

/* БЛОК 4 */
.page-4-bg{
    background: url('../img/fon4block.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}
/* .page3-border{
    border: 1px solid var(--main-orange);
 } */

/* БЛОК 6 */
.block-6-bg{
    background: url('../img/fon6block.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.block-7-bg{
    background: url('../img/fon7block.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.foto-grid{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}

.page-7-info{
    font-size: 19px;
    font-weight: 500;
    padding: 46px 30px;
    border-left: 1px solid var(--main-orange);
    border-top: 1px solid var(--main-orange);
    border-right: 1px solid var(--main-orange);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}

.top-bottom-decorator{
    border-top: 3px solid var(--main-orange);
    border-bottom: 3px solid var(--main-orange);

}

.block-8-bg{
    background: url('../img/fon8block.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.black-button{
    padding: 25px 50px;
    border-radius: 6px;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 600;

    border: 2px solid var(--main-orange);
}

.footer-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.795%; /* 26.063px */
    font-variant: small-caps;
    text-decoration: none;
}